* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #f5f5f5;
	padding: 5px;
	padding-top: 100px;
	height: auto;
}

.Login > body {
	height: 100%;
	background-color: #ffffff;
}

.login-input {
	background-color: #c5c5c5;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	border-radius: 10px;
}

.StatusBar {
	max-height: 30px;
	display: flex;
	justify-content: space-between;
}

.StatusBar > div {
	width: 70px;
}

.StatusBar > div > img {
	max-width: 20px;
	max-height: 20px;
	padding-left: 5px;
}

.navigationBar {
	display: flex;
	justify-content: space-between;
	gap: 20%;
}

.dropdown-content {
	display: none; /* Скрыто по умолчанию */
	position: absolute;
	background-color: #e9e9e9;
	border-radius: 10px;
	height: 100px;
	width: 70px;
}

.dropdown-content.show {
	display: block; /* Показывается при добавлении класса */
}

.Search {
	width: 100%;
	height: 39px;
	background-color: bisque;
	border-radius: 20px;
}

.PromotionalBanner {
	width: 350px;
	height: 140px;
	background-color: #333;
	color: black;
	border-radius: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.CategoryCards {
	display: flex;
	overflow-x: min;
	height: 100px;
	background-color: rgb(187, 187, 187);
}

.Card {
	max-height: 80px;
	min-width: 66px;
	background-color: #7c7c7c;
	margin-right: 5px;
	font-size: 11px;
}

.Card > img {
	min-width: 66px;
	min-height: 66px;
	background-color: #333;
	max-width: 66px;
	max-height: 66px;
}

.Goods {
	display: grid;
	gap: 10px;
	grid-template-columns: 169px 169px;
}

.Goods > product-card {
	width: 169px;
	height: 292px;
	background-color: rgb(204, 204, 204);
	border-radius: 20px;
}

.product-card > img {
	max-width: 184px;
	max-height: 184px;
	border-radius: 20px;
}

.product-card > button {
	width: 160px;
	margin-left: 5px;
}

.Baza {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 350px;
	background-color: #f5f5f5;
}

.cart-item > img {
	max-width: 170px;
	max-height: 170px;
	border-radius: 20px;
	margin: 7px;
}

.cart-item {
	max-width: 170px;
	background-color: #7c7c7c;
	border-radius: 20px;
}

.cart-item button {
	margin-left: 7px;
	margin-right: 7px;
	max-width: 156px;
}
